body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}

main h1 {
    font-size: 60px;
    text-align: center;
    background-color: #851944;
    color: #F2FFFC;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 25px;
    border-bottom: 10px solid black;
    margin: 0;
    text-transform: uppercase;

}

h1,
h2 {
    font-size: 30px;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    clear: both;

}

p {
    text-align: justify;
    margin: 20px 0;
}

blockquote {
    background-color: #D9E5E3;
    padding: 20px;
    border: 8px ridge #C2CCCA;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}

cite {
    font-style: italic;
    float: right;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
}

.fotoM,
.navegacao-site {
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;

}


.icones-sociais li {
    display: inline-block;
}

footer {
    background-color: coral;
    color: #F2FFFC;
}

.rodape {
    background-color: black;
    color: #F2FFFC;
    padding: 20px;
}

nav a {
    color: #F2FFFC;
    text-transform: none;
}

main a {
    color: #851944;
    text-decoration: none;
}

anside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;


}

ul a {
    text-decoration: none;

}

ul {
    list-style-type: none;
    text-align: center;
}

div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

body {
    line-height: 1.5;
}

main div {
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}

.github {

    background-image: url(github.png);
}

.twitter {

    background-image: url(twitter.png);
}

.linkedin {

    background-image: url(linkedin.png);
}

.fiat {
    float: right;
}

.petrobras {

    float: left;
}

aside,
img {
    float: right;
    width: 15%;
}

aside {
    clear: right;
    box-sizing: border-box;
    position: relative;
    top: 300px;
}

main {
    float: left;
    width: 85%;
    padding-bottom: 80px;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
}

navegacao-site {
    width: 15%;
    position: relative;
    top: 310px;
}